<a href="https://colab.research.google.com/github/sabumjung/Learning-Data-Mining-with-Python/blob/master/Mahalanobis_distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mahalanobis Distance 계산
Mahalonobis 거리는 점과 분포 사이의 거리이다. 그리고 두 지점 사이의 거리를 정의하는 개념은 아니다. 사실상 다변량 변수에 대한 유클리드 거리 계산 방법이라고 할 수 있다.
Mahalanobis Distance를 계산하는 방법은 다음과 같다.
1. Columns를 상관관계가 없는 변수로 변환한다.
2. 해당 Columns를 정규화한다(분산이 1이 되도록).
3. 유틀리디안 거리를 계산한다.

In [1]:
import pandas as pd
import scipy as sp
import numpy as np

In [2]:
filepath='https://raw.githubusercontent.com/selva86/datasets/master/diamonds.csv'

In [3]:
df=pd.read_csv(filepath).iloc[:,[0, 4,6]]

In [4]:
df.head()

   carat  depth  price
0   0.23   61.5    326
1   0.21   59.8    326
2   0.23   56.9    327
3   0.29   62.4    334
4   0.31   63.3    335

In [18]:
def mahalanobis(x=None, data=None, cov=None):
  x_minus_mu = x-np.mean(data)
  if not cov:
    cov=np.cov(data.values.T)
  inv_covmat =np.linalg.inv(cov)
  left_term = np.dot(x_minus_mu, inv_covmat)
  mahal = np.dot(left_term, x_minus_mu.T)
  return mahal.diagonal()

In [19]:
df_x = df[['carat', 'depth', 'price']].head(500)

In [20]:
df_x['mahala'] = mahalanobis(x = df_x, data = df[['carat', 'depth', 'price']])

In [21]:
df_x.head()

   carat  depth  price     mahala
0   0.23   61.5    326   1.709860
1   0.21   59.8    326   3.540097
2   0.23   56.9    327  12.715021
3   0.29   62.4    334   1.454469
4   0.31   63.3    335   2.347239